# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf

[*.java]
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 120
ij_java_wrap_long_lines = true
ij_java_wrap_comments = true
ij_java_method_call_chain_wrap = normal
ij_java_blank_lines_after_class_header = 1
ij_java_class_count_to_use_import_on_demand = 10
ij_java_names_count_to_use_import_on_demand = 10